body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  background-color: #333333;
}

header {
  width: 100%;
  background-color: #2d2d2d; 
  border-bottom: 1px solid #5670d0;
  box-shadow: 0px 0px 10px 0px #5670d0;
  position: sticky;
  user-select: none;
}


#tabs-container {
  display: flex;
  overflow-x: auto;
  justify-content: left;
  flex-direction: row-reverse;
  background-color: #2d2d2d;
  align-items: center;
  padding: 5px 10px 0px 10px;
  height: 35px;
}


.tab {
  display: flex;
  align-items: center;
  background-color: #444;
  margin-right: 8px;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
  font-size: 14px;
  color: #fff;
  transition: background-color 0.2s ease;
  width: auto;
  height: 100%;
  justify-content: space-between;
  padding-inline: 10px;
  min-width: 175px;
}

.tab.active {
  background-color: #1e1e1e;
}

.tab:hover {
  background-color: #555;
}

.tab-close {
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #ccc;
  transition: color 0.2s ease;
}

.tab-close:hover {
  color: #fff;
}

#nav-bar {
  display: flex;
  align-items: center;
  padding: 10px; 
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#url-bar {
  flex-grow: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #444;
  margin: 0 10px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  outline: none;
}

#url-bar::placeholder {
  color: #888;
}

#url-bar:focus {
  border-color: #6780ee;
}

#new-tab-button {
  width: 25px;
  height: 25px;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

#new-tab-button:hover {
  background-color: #5670d0;
}

#go-button {
  background-color: #6780ee;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
}

#go-button:hover {
  background-color: #606164;
}

#browser-content {

  height: calc(100vh - 120px); 
  background-color: #fff;
}

.tab-content {
  width: 100%;
  height: 100%;
  background: #333333;
  border: none;
  display: none;
}

.tab-content.active {
  display: block;
}